@charset "utf-8";
/* CSS Document */
body{
    margin:auto;
    width:100%;
    height:100%;
}
/* header qui fait toute la longueur de la page et avec des bords inférieurs arrondis */
header{
    background:#90DAF4;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
    height:120px;
    position: fixed; /* on le fixe pour qu'il reste dispo en scrollant*/
    box-shadow: 0px 6px 16px black; /* une ch'tite ombre */
    display:inline-block;
    top:0; /* on le colle au plafond */
}

header:hover{
    background:#7BD8F7;
}

.wrapper{
}

/*
 *
 * Style du logo
 * 
 */
header h1{
    font-family: Lobster;
    font-size: 3em;
    color:white;
    text-shadow: 2px 2px 4px black;
    cursor: default;
    margin-left: 8px;
    display:inline-block;
    float: left;
    margin-top: 20px;
}


@media screen and (min-width:1280px){
    /* si l'écran a une largeur d'au moins 1280px, on agrandi le logo */
    header h1{
        font-size:3.5em;
    }
}

/* Style du "On" de Simplon */
.color{
    background:#FFFF84;
    padding:4px 4px;
    border-radius:50%;
    box-shadow: #FFFF00 0px 0px 50px 10px; /* Effet de lumière */
    color:#FF5900;
    text-shadow: 1px 1px 2px #7A2600;
}

/*
 *
 *  Nav
 *
 */

nav ul{
    position: absolute;
    right:5px;
    bottom: 0;
    float:right;
}

nav ul li{
    list-style-type:none;
    display:inline-block;
}

nav a {
    text-decoration:none;
    font-family: 'Concerte One', sans-serif;
    font-size:1.4em;
    margin: 8px 16px;
    color:white;
    text-shadow:-2px 2px 4px black;
    text-transform: uppercase;
}


@media screen and (min-width:1024px){
    nav a{
        font-size: 1.8em;
    }
}

@media screen and (max-width:700px){
    nav ul li{
        display:block;
    }
    nav a{
        font-size: 1em;
    }
}

nav a:hover{
    color:#FFFF84;
    text-shadow: 2px 2px 16px #FFFF00;
}

/*
 *
 *  Photo fond
 *
 */

#photo-fond{
    margin-top: 140px;
    background:#FFF359;
    border:2px solid black;
    border-radius:20px;
    padding:6px;
    padding-bottom: 40px;
    margin-left:auto;
    margin-right: auto;
    width:50%;
    text-align:center;
}

@media screen and (max-width:600px){
    #photo-fond{
        width:70%;
    }
}

#photo-fond h2{
    color:white;
    font-family: Roboto;
    font-style: oblique;
    text-shadow:1px 1px 4px black;
}

#photo-fond h2 strong{
    color:white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.8em;
    font-style: oblique;
    text-shadow:0 0 4px black;
}

.button-1{
    text-decoration: none;
    padding:8px 6px;
    background:#6767DB;
    border-radius:8px;
    color:white;
    text-transform: uppercase;
    font-style: italic;
    box-shadow: 0px 0px 0px 2px #5050D3;
}

.button-1:hover{
    background: #A50000;
    box-shadow: 0px 0px 8px 2px #C40000;
    color:#FFC300;
    text-shadow: 1px 1px 1px #997000;
}

.button-1:hover::after{
    content: ' !!!';
}

/*
 *
 *  Actualités
 *
 */

#actualites{
    margin:40px 0;
    width:100%;
    border-top:2px dashed black;
    text-align:center;
}

#actualites ul li{
    display:inline-block;
    max-width: 32%;
    padding:4px;
    font-size:0.8em;
}

@media screen and (max-width:400px){
    #actualites ul li{
        max-width: 100%;
    }
}

/*
 *
 *  Ajout des icones avant le texte des li
 *
 */

.actualites-1::before{
    background-image: url('../images/exercice-4/inauguration.png');
    background-size: 100px 100px;
    display: inline-block;
    width:100px;
    height:100px;
    float: left;
    content:'';
}

.actualites-2::before{
    background-image: url('../images/exercice-4/cafe.png');
    background-size: 100px 100px;
    display: inline-block;
    width:100px;
    height:100px;
    float: left;
    content:'';
}

.actualites-3::before{
    background-image: url('../images/exercice-4/ordi.png');
    background-size: 100px 100px;
    display: inline-block;
    width:100px;
    height:100px;
    float: left;
    content:'';
}

#actualites h4{
    font-size:1.4em;
    text-align:left;
}

#actualites p{
    text-align: left;
}

@media screen and (max-width:975px){
    .actualites-1::before{
        background-image: url('../images/exercice-4/inauguration.png');
        background-size: 75px 75px;
        display: inline-block;
        width:75px;
        height:75px;
        float: left;
        content:'';
    }
    .actualites-2::before{
        background-image: url('../images/exercice-4/cafe.png');
        background-size: 75px 75px;
        display: inline-block;
        width:75px;
        height:75px;
        float: left;
        content:'';
    }
    .actualites-3::before{
        background-image: url('../images/exercice-4/ordi.png');
        background-size: 75px 75px;
        display: inline-block;
        width:75px;
        height:75px;
        float: left;
        content:'';
    }
}

@media screen and (max-width:680px){
    .actualites-1::before{
        background-image: url('../images/exercice-4/inauguration.png');
        background-size: 50px 50px;
        display: inline-block;
        width:50px;
        height:50px;
        float: left;
        content:'';
    }
    .actualites-2::before{
        background-image: url('../images/exercice-4/cafe.png');
        background-size: 50px 50px;
        display: inline-block;
        width:50px;
        height:50px;
        float: left;
        content:'';
    }
    .actualites-3::before{
        background-image: url('../images/exercice-4/ordi.png');
        background-size: 50px 50px;
        display: inline-block;
        width:50px;
        height:50px;
        float: left;
        content:'';
    }
}


/*
 *
 * La une
 *
 */

#la-une{
    margin:40px 0;
    width:100%;
    border-top:2px dashed black;
    text-align:center;
}

#la-une h3{
    font-size:1.4em;
    font-style: italic;
    color:red;
    text-shadow: 0 0 2px black;
}

#la-une img{
    width:90%;
    max-width:940px;
    max-height:527px;
    border:1px solid #333;
    border-radius:10px;
    box-shadow: 0 0 10px black;
    
}

/*
 *
 * Archives
 *
 */

#archives{
    margin:40px 0;
    width:100%;
    border-top:2px dashed black;
    text-align: center;
}

#archives article{
    width:90%;
    max-width:400px;
    display:inline-block;
    margin:8px;
    border:1px solid black;
    box-shadow: 0 0 8px black;
    border-radius: 10px;
}

#archives .wrapper{
    margin-top:20px;
}

#archives a{
    text-decoration: none;
    background:white;
    padding:8px;
    border:1px solid #BBB;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color:#4C4A77;
    text-shadow: 0 0 4px black;
}

#archives a:hover{
    background: #33C928;
    border-color:#2B9921;
    color:#fff;
}

.overlay{
    margin:20px;
}
/*
 *
 * CTA
 *
 */
#cta{
    margin:40px 0;
    width:100%;
    border-top:2px dashed black;
    text-align: center;
    /* background:#FFE22B; */
}

#cta .wrapper{
}

.button-2{
    color:#fff;
    text-shadow: 0 0 4px black;
    text-decoration: none;
    background:-moz-linear-gradient(#D6D7FF,#575CDB);
    padding:8px;
    border-radius: 8px;
    border:1px solid #55A;
}

.button-2:hover{
    background:-moz-linear-gradient(#FFA296,#ED2610);
    border-color:#D31908;
}

#cta h3{
    font-size:1.4em;
    font-style: italic;
    color:red;
    text-shadow: 0 0 2px black;
}
/*
 *
 * Footer
 *
 */

footer{
    border-top:2px dashed black;
    width:100%;
    text-align: center;
}

#footer-info{
    font-size: 0.9em;
    color:#C43E3E;
    font-weight: bold;
    text-shadow: 0 0 1px black;
}

#footer-links h5{
    color:#6B6BFF;
    text-shadow: 0 0 1px black;
    font-size:0.8em;
}

#footer-links ul{
    list-style: none;
    list-style-position: inside;
    display:inline-block;
    text-align:left;
}

#footer-links a{
    text-decoration: none;
    color:#7070FF;
}
#footer-links a:hover{
    color:#FF3838;
}
@media screen and (max-width:375px){
    #footer-links h5{
        font-size:0.7em;
    }
    #footer-links a{
        font-size:0.5em;
        color:blue;
    }
}
/*
 *
 * Le clear au cas où
 *
 */
#clear{
    clear:both;
}